.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.announcements {
    background-color: #d8e8e3;
    justify-content: center;
    display: flex;
}

.announcements span {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    max-width: 60%;
    text-align: center;
    font-size: 22px;
    line-height: 1.75;
    font-weight: 500;
}